In [ ]:
Dict={"reg_noumber":201,"Name":"duke","model":7.53,"price":200000,"Year":2022}
print(Dict)
print(len(Dict))
Dict["loan"]="50000"
print(Dict)
Dict["place "]="CKD"
print(Dict)
Dict["colour"]="Block"
print(Dict)
del Dict["loan"]
print(Dict)
Dict["Age"]=26
print(Dict)

{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022}
5
{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022, 'loan': '50000'}
{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022, 'loan': '50000', 'place ': 'CKD'}
{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022, 'loan': '50000', 'place ': 'CKD', 'colour': 'Block'}
{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022, 'place ': 'CKD', 'colour': 'Block'}
{'reg_noumber': 201, 'Name': 'duke', 'model': 7.53, 'price': 200000, 'Year': 2022, 'place ': 'CKD', 'colour': 'Block', 'Age': 26}

In [ ]:
Example=(11,"sumit",3.12,False,22)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(11))
print(Example[0:3])
print(Example[4])
print(Example[-1])
print(Example[::-1])

(11, 'sumit', 3.12, False, 22)
5
<class 'tuple'>
1
(11, 'sumit', 3.12)
22
22
(22, False, 3.12, 'sumit', 11)

In [ ]:
Number=(2,4,7,9,3,9,3,2)
print(Number)
Add=(2,4,5,7)
print(Number+Add)
print(Add*4)
print(type[0:5])

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)
type[slice(0, 5, None)]

In [ ]:
Example={1,1,2,3,4,5,6}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("sumit")
print(Example)
print(type(Example))
Example={1,2,2,3,4,4,5,6,7}
print(Example)
print(type(Example))
print(len(Example))
Example.add("BKC")
print(Example)
Example.add(5.67)
print(Example)
Example.add("True")
print(Example)
Example.remove(4)
print(Example)
print(Example.pop())
print(Example)

{1, 2, 3, 4, 5, 6}
<class 'set'>
6
{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 10, 'sumit'}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{'BKC', 1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'True', 'BKC'}
{1, 2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}
1
{2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}

In [ ]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first|second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first-second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [9]:
Dict={"Roll_number":201,"Name":"Raichur","CGP":7.53,"Course":"MCA","Year":2022}
print(Dict)
print(len(Dict))
Dict["Gender"]="Male"
print(Dict)
Dict["College "]="BKC"
print(Dict)
Dict["College"]="BK BCA"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"]="Male"
print(Dict)
print(Dict["College"])
Dict["Age"]=26
print(Dict)
print(Dict["Age"])
Dict["Address"]="shirguppi"
print(Dict)
del Dict["Address"]
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())

{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022}
5
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'Gender': 'Male', 'College ': 'BKC'}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'Gender': 'Male', 'College ': 'BKC', 'College': 'BK BCA'}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA'}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA', 'Gender': 'Male'}
BK BCA
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA', 'Gender': 'Male', 'Age': 26}
26
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA', 'Gender': 'Male', 'Age': 26, 'Address': 'shirguppi'}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA', 'Gender': 'Male', 'Age': 26}
{'Roll_number': 201, 'Name': 'Raichur', 'CGP': 7.53, 'Course': 'MCA', 'Year': 2022, 'College ': 'BKC', 'College': 'BK BCA', 'Gender': 'Male'}
dict_keys(['Roll_number', 'Name', 'CGP', 'Course', 'Year', 'College ', 'College', 'Gender'])
dict_values([201, 'Raichur', 7.53, 'MCA', 2022, 'BKC', 'BK BCA', 'Male'])

In [10]:
Name={ "Name":"Sumit","name":"sumit","F_name":"Sumit","L_name":"Sumit"}
print(Name)

{'Name': 'Sumit', 'name': 'sumit', 'F_name': 'Sumit', 'L_name': 'Sumit'}

In [12]:
a=10
print(type(a))
b=3
print(type(b))
print(type(a/b))

<class 'int'>
<class 'int'>
<class 'float'>

In [11]:
a,b,c=10,20,a+b
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [9]:
x,y=2.5,3.5
print(type(x+y))

<class 'float'>

In [10]:
a,b,c=2.5,3.5,a+b
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'int'>

In [15]:
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [16]:
a=49
b=7
print(type(a/b))

<class 'float'>

In [20]:
i=True
print(type(i))
j=5
print(type(j))
print(type(i+j))

<class 'bool'>
<class 'int'>
<class 'int'>

In [22]:
m=2.9
n=False
o=m-n
print(type(o))

<class 'float'>

In [25]:
p=True
q=False
r=p+q
print(type(r))

<class 'int'>

In [27]:
s=2.9
t=False
print(type(s*t))

<class 'float'>

In [29]:
num=3.12
print(type(num))
add=int(num)
print(type(add))
sub=float(num)
print(type(sub))

<class 'float'>
<class 'int'>
<class 'float'>

In [34]:
mul=float(add)
print(type(mul-9))

<class 'float'>

In [35]:
num="101"
print(type(num))
add=int(num)
print(type(add))

<class 'str'>
<class 'int'>

In [37]:
sub=False
add=int(sub)
print(type(add))

<class 'int'>

In [41]:
men=True
print(type(men))
add=int(men)
print(type(add))
sub=float(men)
print(type(sub))

<class 'bool'>
<class 'int'>
<class 'float'>

In [42]:
men=20
print(type(men))
multi=bool(men)
print(type(multi))

<class 'int'>
<class 'bool'>

In [46]:
s=2.4
print(type(s))

print(type(str(s)))

<class 'float'>
<class 'str'>

In [47]:
AP=9.99
print(type(AP))

print(type(bool(AP)))

<class 'float'>
<class 'bool'>

In [48]:
AP=False
print(type(AP))

print(type(float(AP)))

<class 'bool'>
<class 'float'>

In [49]:
a=False
print(type(a))

s=str(a)
print(type(s))

<class 'bool'>
<class 'str'>

In [52]:
a="sumya"
print(type(a))
print(type(list(a)))

<class 'str'>
<class 'list'>

In [56]:
a=(10,20)
print(type(list(a)))

<class 'list'>

In [57]:
a={1,2,3,4,}
print(type(list(a)))

<class 'list'>

In [58]:
a={1,2,3,4,}
print(type(list(a)))

<class 'list'>

In [59]:
a="sumya"
print(type(tuple(a)))

<class 'tuple'>

In [60]:
a=[1,2,3,4]
print(type(tuple(a)))

<class 'tuple'>

In [ ]:
a={1,2,3,4}

In [100]:
n4={("rool_no",501),("section","c")}
print(type(n4))

<class 'set'>