In [ ]:
sentense = "python programming language"
count = 0
for ch in sentense :
  if ch in "aeiou" :
     count+=1
print("total vowels is :",count)

total vowels is : 8

In [ ]:
# write a program area of triangle

base = 4
height = 5
area = 0.5 * base * height
print(f"The area of the triangle with base {base} and height {height} is: {area}")

The area of the triangle with base 4 and height 5 is: 10.0

In [ ]:
# write a program area of circle

radius = 4
area = 3.14 * radius**2
print("area of the cirle is :",area)

area of the cirle is : 50.24

In [ ]:
# largest number

ex = [5,25,35,28,45,10,15]
largest_number = ex[0]
for num in ex :
  if num > largest_number :
    largest_number = num
print("largest number is :",largest_number)

largest number is : 45

In [ ]:
# write a programe count of consonents in string value
# "bachelor of computer science first semester section c"
sentense = "bachelorofcomputersciencefirstsemestersectionc"
count = 0
for ch in sentense :
  if ch not in "aeiou":
     count+=1
print("total consonents is :",count)

total consonents is : 29

In [41]:
bikes = ["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200","M 80","Unicorn"]
for bike in bikes:
    if bike == "NS 200" :
      break
    print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [42]:
bikes = ["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200","M 80","Unicorn"]
for bike in bikes:
    if bike == "NS 200" :
      break
    print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [45]:
fruits = ("apple","orange","mango","strawberry","dragon fruit","banana","kiwi","greeps","pinaple","pappaya","greeps")
for fruit in fruits:
    if fruit == "mango" :
      continue
    print(fruit)

apple
orange
strawberry
dragon fruit
banana
kiwi
greeps
pinaple
pappaya
greeps

In [57]:
mobiles = {"vivo","redmi","oppo","oppo","vivo","iqee","vivo","1 plue"}
for mobile in mobiles :
  if mobile == "vivo" :
    continue
  print (mobile)

oppo
redmi
iqee
1 plue

In [60]:
movies = ["kgf","chhava","bahubali","saiyara","rrr","kalki"]
for movie in movies :
  if movie == "rrr" :
    pass
  print(movie)

kgf
chhava
bahubali
saiyara
rrr
kalki

In [63]:
things = {"mobile","laptop","manitor","tab","book","pen","paper"}
for thing in things :
    if thing == "mobile" :
       continue
    print(thing)

paper
manitor
laptop
tab
book
pen

In [81]:
for i in range (10) :
  for j in range (10) :
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [82]:
for i in range (10) :
  for j in range (10) :
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [104]:
for i in range (1,11) :
  for j in range (j) :
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [116]:
for i in range(5) :
  for j in range( 0,i+1) :
    print(" ",end=" ")
  for j in range (10) :
    print ("*",end=" ")
  print()

  * * * * * * * * * *
    * * * * * * * * * *
      * * * * * * * * * *
        * * * * * * * * * *
          * * * * * * * * * *

In [127]:
for i in range(5) :
  for j in range( i+1,5) :
    print(" ",end=" ")
  for j in range (10) :
    print ("😁",end=" ")
  print()

        😁 😁 😁 😁 😁 😁 😁 😁 😁 😁
      😁 😁 😁 😁 😁 😁 😁 😁 😁 😁
    😁 😁 😁 😁 😁 😁 😁 😁 😁 😁
  😁 😁 😁 😁 😁 😁 😁 😁 😁 😁
😁 😁 😁 😁 😁 😁 😁 😁 😁 😁

In [130]:
row = 10
col = 10
for i in range (0,row) :
  for j in range (0,col) :
    if i == 0 or j == 0 or i == row-1 or j == col-1 :
      print("*",end=" ")
    else :
      print(" ",end=" ")
  print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [131]:
for i in range (10) :
  for j in range (i) :
    print ("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [132]:
num = 7
for i in range (0,num) :
  for j in range (0,num-i-1) :
    print (" ",end=" ")
  for j in range (0,i*2+1) :
    print ("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [138]:
num = 7
for i in range (0,num) :
  for j in range (0,num-i-1) :
      print(" ",end=" ")
  for j in range (0,i*2+1) :
      print(chr(65 +j),end=" ")
  print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [143]:
num = 7
for i in range (0,num) :
  for j in range (0,num-i-1) :
    print (" ",end=" ")
  for j in range (0,i*2+1) :
    print ("*",end=" ")
  print()
for i in range (0,num) :
    for j in range (1,i+1) :
      print (" ",end=" ")
    for j in range (0,num) :
      print ("*",end=" ")
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * *
  * * * * * * *
    * * * * * * *
      * * * * * * *
        * * * * * * *
          * * * * * * *
            * * * * * * *

In [146]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+++1):
      print("*",end=" ")
  print()
for i in range(0,num):
  for j in range(0,i):
      print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
      print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [148]:
# 1) example
def fun (num) :
  return num*num
print(fun(4))

16

In [153]:
from re import A
def add(a,b):
  print(f'addition of two numbers is {a+b}')
add(5,10)

addition of two numbers is 15

In [159]:
def Example(roll_number,name,section,department,college) :
  print(f"My name is {name}, i'm studying {department} in {college} college. My roll_number is {roll_number} and section is {section}")
Example(101,"sumit","A","BCA","KLE")

My name is sumit, i'm studying BCA in KLE college. My roll_number is 101 and section is A

In [162]:
def fun(name,game,time):
 print(f"I'm {name};i'm playing {game} at {time} time")
fun(time="Evening",name="suppya0008_",game="freefire")

I'm suppya0008_;i'm playing freefire at Evening time

In [163]:
def laptop(name = "lenovo"):
  print("my laptop name is :",name)
laptop("dell")
laptop("hp")
laptop()
laptop("asus")

my laptop name is : dell
my laptop name is : hp
my laptop name is : lenovo
my laptop name is : asus