In [ ]:
num = -5
if num>0 :
  if num ==0 :
    print("zero value")
  else :
    print("positive value")
else :
  print("negative value")

negative value

In [ ]:
num =int(input("enter number value is :"))
if num>=0 :
  if num ==0 :
    print("zero value")
  else :
    print("positive value")
else :
  print("negative value")

enter number value is :0
zero value

In [ ]:
# write a program arithamatic operator using match or switch statment

x,y=10,20
option=input("enter option :")
match option :
  case "+":
    print("sum of values",x+y)
  case "-":
    print("subtraction of values",x-y)
  case "*":
    print("multplication of values",x*y)
  case "/" :
    print("division of values",x/y)
  case "%" :
    print("modulus of values",x%y)
  case _:
    print("invalid option")
  case "!=":
    print("not equal option")

enter option :!=

SyntaxError: wildcard makes remaining patterns unreachable (ipython-input-3187860175.py, line 16)

In [ ]:
option=int(input("enter  your choice option :"))
match option :
  case 1:
    print("monday")
  case 2:
    print("tuesday")
  case 3:
    print("wednesday")
  case 4:
    print("thursday")
  case 5:
    print("friday")
  case 6:
    print("saturday")
  case 7:
    print("sunday")

enter  your choice option :5
friday

In [ ]:
option=int(input("enter  your choice option :"))
match option :
  case 1:
    print("jan")
  case 2:
    print("feb")
  case 3:
    print("mar")
  case 4:
    print("apr")
  case 5:
    print("may")
  case 6:
    print("jun")
  case 7:
    print("jul")
  case 8:
    print("aug")
  case 9:
    print("sep")
  case 10:
    print("oct")
  case 11:
    print("nov")
  case 12:
    print("dec")

enter  your choice option :5
may

In [ ]:
num=1
while num<=60 :
  print(num,end=" ")
  num +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
num=5
i=1
while i<=10:
  print("5*",i,"=",num*i)
  i=i+1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
num=0
rem=0
sum=0
temp=num
while num>0:
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
if temp==sum:
  print("armstrong number")
else :
  print("not armstrong number")

armstrong number

In [ ]:
a,b,c,d,e=5,4,3,2,1
print(a,b,c,d,e)

5 4 3 2 1

In [ ]:
num = 12321
rem = 0
add = 0
temp = num
while num>0:
  rem = num %  10
  rev = rev*10+rem
  num = num//10
if temp == rev:
  print("palindrome number")
else :
  print("not palindrome number")

NameError: name 'rev' is not defined

In [ ]:
i=1
while i<=100:
  print(i,end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [30]:
num = 10
i = 0
while num >= i :
  print(num,end=" ")
  num-=1

10 9 8 7 6 5 4 3 2 1 0

In [31]:
i = 10
while i <= 1280 :
  print(i,end=" ")
  i*=2

10 20 40 80 160 320 640 1280

In [2]:
colours = ['blue','red','pink','black']
print(type(colours))

for i in colours :
  print(i)

<class 'list'>
blue
red
pink
black

In [4]:
number = {1,2,3,4,5,6,6,7,8,8,9}
for i in number :
  print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [5]:
name = " kle bk bca college in chikodi"
rev = ""
for i in name :
  rev = i+rev
print(rev)

idokihc ni egelloc acb kb elk

In [14]:
for i in range(1,10+1):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [21]:
for i in range(1,10+1,2):
  print(i,end=" ")

1 3 5 7 9

In [24]:
sum = 0
for i in range (1,11) :
  sum+=i
print("sum of n numbers is",sum)

sum of n numbers is 55

In [32]:
i=1
num=4
for i in range(1,11):
   print("4*",i,"=",num*i)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [36]:
for i in range(2,101+1,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [45]:
fact = 1
for i in range (1,6) :
  fact=fact*i
print("factorial numbers is",fact)

factorial numbers is 120

In [47]:
# fiboncacci series / number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144

num = 12
a,b =0,1
print(a,end=" ")
print(b,end=" ")
for i in range (2,num+1):
  c = a+b
  print(c,end=" ")
  a=b
  b=c

0 1 1 2 3 5 8 13 21 34 55 89 144