In [3]:

# 1) Example sum of numbers using *args
def add (*args):
    total = 0
    for num in args:
        total += num
    print("Total value is:",total)

add(10,5)
add(5,4,9)
add(10,14)

Total value is: 15
Total value is: 18
Total value is: 24

In [4]:
# Example sum of numbers using **kwargs
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="SUMIT", age=19)
print_details(city="bengaluru")

name: SUMIT
age: 19
city: bengaluru

In [10]:
def details(**kwargs):
    for key, value in kwargs.items():
        print(f"my details is {key} and  {value}")
details(course="BCA" , section='c',college="BK college")
details(place="dubai")
details(roll_no=201,t_subject=7)
details(laptop="lenovo",o_s="window",year=2022,version="windows 11")

my details is course and  BCA
my details is section and  c
my details is college and  BK college
my details is place and  dubai
my details is roll_no and  201
my details is t_subject and  7
my details is laptop and  lenovo
my details is o_s and  window
my details is year and  2022
my details is version and  windows 11

In [22]:
# example of *args and **kwargs
def show_values(*args, **kwargs):
    print(" positional Arguments represented in tuple",args)
    print("key - words arguments represented in dict",kwargs)
show_values(1,2,3,name="suppya0008")

show_values(5,8,1,10,Class="BCA c section ", gender="male")

 positional Arguments represented in tuple (1, 2, 3)
key - words arguments represented in dict {'name': 'suppya0008'}
 positional Arguments represented in tuple (5, 8, 1, 10)
key - words arguments represented in dict {'Class': 'BCA c section ', 'gender': 'male'}

In [23]:
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [25]:
i=1
fact=1
while i<6:
    fact=fact*i
    i=i+1
print(fact)

120

In [28]:
def factorial(n):
  """Calculates the factorial of a non-negative integer."""
  if n == 0:
    return 1
  else:
    fact = 1
    for i in range(1, n + 1):
      fact = fact * i
    return fact

# Example usage:
num = 5
result = factorial(num)
print(f"The factorial of {num} is: {result}")

The factorial of 5 is: 120

In [45]:
def fact(num) :
  if num==0 or num==1:
    return 1
  else:
    return num*fact(num-1)
num=5
result=fact(num)
print(result)

120

In [57]:
def sum(num):
  if num == 0 :
    return num
  else:
      return num+sum(num-1)
print("sum of N natural number is :",sum(10))

sum of N natural number is : 55

In [58]:
# fibonacci series / number using function recursion

def fibo(num) :
  if num <= 1 :
    return num
  else :
    return fibo(num - 1) + fibo(num - 2)

for i in range(11) :
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [59]:
Name = "vasu"
print(Name[:4])

vasu

In [77]:
class flower:
  colour="pink"
  price=25
  smell="nice"
  shape="circle"
  def decoration(self):
    print("gift  ")
rose=flower()
print("flower colour is",rose.colour)
print("rose price is",rose.price)
print("rose smell is",rose.smell)
print("rose shape is",rose.shape)

obj = flower()
obj.decoration()

flower colour is pink
rose price is 25
rose smell is nice
rose shape is circle
gift

In [85]:
class fan:
  colour="black"
  price=2500
  warrenty="2 years"
  c_name="Sumit"
  def start(self):
    print("when click on on butten button it'll start ")
  def speed(self):
    print ("5 speed is there")
  def stop(self):
    print("when click on off  button it'll stop")

obj = fan()
print (obj.c_name + " fan colour is " + obj.colour)
print (obj.c_name + " fan price is " + str(obj.price))
print (obj.c_name + " fan warrenty is " + obj.warrenty)
obj.stop()
obj.start()
obj.speed()

Sumit fan colour is black
Sumit fan price is 2500
Sumit fan warrenty is 2 years
when click on off  button it'll stop
when click on on butten button it'll start
5 speed is there

In [87]:
def fun(name) :
  print("my name is a",name)
fun("sumit")

my name is a sumit

In [109]:
# banking example

class bank :
  def __init__(self,balance) :
    self.balance = balance

  def deposit(self,amount) :
     self.balance += amount

  def withdrow(self,amount):
      if amount <= self.balance :
         self.balance -= amount
         print("transaction successfully",amount)
      else:
         print("insufficient balance")

  def re_balance(self) :
      return self.balance

obj = bank(1000)
print(obj.balance)
obj.deposit(500)
print(obj.balance)
obj.withdrow(700)
print(obj.re_balance())
obj.deposit(1000)
print("current total balance is ",obj.re_balance())
obj.withdrow(2000)
print("current total balance is ",obj.re_balance())
obj.withdrow(1500)
print("current total balance is ",obj.re_balance())
obj.deposit(500)
print("current total balance is ",obj.balance)

1000
1500
transaction successfully 700
800
current total balance is  1800
insufficient balance
current total balance is  1800
transaction successfully 1500
current total balance is  300
current total balance is  800

In [123]:
# Encapsulation Example
class student :
  def __init__(self,name,marks,place):
    self._name = name
    self._marks = marks
    self.place = place
  def set_method(self,name,marks):
    self.name = name       #Pravet variable
    self.marks = marks     #public variable

  def get_name(self):
    return self._name

  def get_marks(self):
    return self._marks

obj = student("Sumit",85,"chikodi")
print(obj.get_name())
print(obj.get_marks())
print(obj.place)

Sumit
85
chikodi

In [129]:
# 1)singal inheritance

class parent :
  def work (self) :
    print("my parents are doing formig")

class children (parent) :
  def study(self) :
    print("I'm studying BCA in bk college")

ch = children()
ch.work()
ch.study()

my parents are doing formig
I'm studying BCA in bk college

In [130]:
# multiple Inheritance:
class Father :
    def Hi(self):
        print("My father is my first hero")
class mother :
    def Hello(self):
        print("My father is my House wife")
class child(Father, mother):
    def Bye(self):
        print("I'm working as a Freelancer")

obj = child()
obj.Hi()
obj.Hello()
obj.Bye()

My father is my first hero
My father is my House wife
I'm working as a Freelancer

In [132]:
# Multi Level Inheritance
class Grand_parents :
  def Formar(self):
      print("✅✅✅✅✅")

class Parents(Grand_parents) :
  def House(self):
      print("😼😼😼😼")

class Child (Parents):
  def Jolly(self):
      print("🌱🌱🌱🌱")

Obj = Child()
Obj.House()
Obj.Jolly()
Obj.Formar()

😼😼😼😼
🌱🌱🌱🌱
✅✅✅✅✅

In [133]:
# Hirarchy Inheritance
class Parents :
  def Business(self):
    print("My parents are doing business")

class Child1(Parents) :
  def Study(self):
    print("I'm Studying BCA ")

class Child2(Parents) :
  def Study(self):
    print("I'm Studying PUC ")

Ch = Child1()
Ch.Business()
Ch.Study()

Obj = Child2()
Obj.Business()
Obj.Study()

My parents are doing business
I'm Studying BCA
My parents are doing business
I'm Studying PUC

In [135]:
 # Hybrid Inheritance

class Grandfather:
    def skill(self):
        print("Grandfather has farming skills")

class Father(Grandfather):
    def business(self):
        print("Father has a business")

class Mother:
    def cooking(self):
        print("Mother is a great cook")

class Son(Father, Mother):
    def study(self):
        print("Son is studying")

class Daughter(Father):
    def art(self):
        print("Daughter is good at art")

# Example usage
print("Son's traits:")
son = Son()
son.skill()
son.business()
son.cooking()
son.study()
print("\nDaughter's traits:")
daughter = Daughter()
daughter.skill()
daughter.business()
daughter.art()

Son's traits:
Grandfather has farming skills
Father has a business
Mother is a great cook
Son is studying

Daughter's traits:
Grandfather has farming skills
Father has a business
Daughter is good at art